/**
 * 	Dashboard styling
 */

.modal-backdrop{
	background: rgba(0,0,0);
}
.ordersButton{
	width:135px;
	height:85px;
	margin-top:3px;
}
.quickCashButton{
	width:60px;
	height:25px;
}
